<!-- Navbar Starts -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">

    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            🎓 EduTrack
        </a>

        <button class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        Home
                    </a>
                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="studentsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">

                        Students

                    </a>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="dropdown-item" href="/view_students">
                                View Students
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/add_student">
                                Add Student
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       data-bs-toggle="dropdown">

        Reports

    </a>

    <ul class="dropdown-menu">

        <li>
            <a class="dropdown-item"
               href="/export_csv">

                Export CSV

            </a>
        </li>

        <li>
            <a class="dropdown-item"
               href="/export_excel">

                Export Excel

            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li>

            <span class="dropdown-item text-muted">

                Analytics

            </span>

        </li>

    </ul>

</li>

                <li class="nav-item">
    <a class="nav-link" href="/login">
        <i class="bi bi-box-arrow-in-right"></i> Login
    </a>
</li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        About
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>

<!-- Navbar Ends -->
