{% extends "layouts/base.html" %}

{% block title %}
View Students
{% endblock %}

{% block content %}

<!-- Student Table -->

<div class="container mt-5">

    <div class="card shadow border-0">

        <div class="card-header bg-primary text-white">

<div class="d-flex justify-content-between align-items-center">

    <h4 class="mb-0">
        📋 All Students
    </h4>

    <div class="d-flex gap-2">

        <select id="sortSelect"
                class="form-select">

            <option value="roll">
                Roll Number
            </option>

            <option value="name">
                Name (A–Z)
            </option>

            <option value="average">
                Average (Highest)
            </option>

        </select>

        <input
            type="text"
            id="searchInput"
            class="form-control"
            placeholder="🔍 Search Student">

    </div>

</div>

        </div>

        <div class="card-body">

            <div class="table-responsive">

                <table id="studentTable" class="table table-hover table-bordered align-middle">

                    <thead class="table-dark">

                        <tr>

                            <th class="text-center">#</th>
                            <th>Roll No.</th>
                            <th>Name</th>
                            <th>Math</th>
                            <th>Science</th>
                            <th>English</th>
                            <th>Average</th>
                            <th>Progress</th>
                            <th>Grade</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                        {% for s in students %}
                            <td class="text-center">{{ loop.index }}</td>
                            <td class="text-center roll">{{ s.roll }}</td>
                            <td class="name">
                            <a href="/student/{{ s.roll }}"
                               class="text-decoration-none fw-semibold">
                                {{ s.name }}   
                            </a>
                            </td>

                            <td>{{ s.math if s.math != None else "-" }}</td>

                            <td>{{ s.science if s.science != None else "-" }}</td>

                            <td>{{ s.english if s.english != None else "-" }}</td>

                            <td>{{ s.average }}</td>

                            <td>

                                <div class="progress">
                                
                                    <div class="progress-bar
                                        {% if s.average >= 60 %}
                                            bg-success
                                        {% else %}
                                            bg-danger
                                        {% endif %}
                                        text-center fw-bold" role="progressbar" style="width: {{ s.average }}%;">
                                
                                        {{ s.average }}%
                                
                                    </div>
                                
                                </div>

                            </td>

                            <td class="grade">

                                {% if s.grade == "A1" or s.grade == "A2" %}

                                <span class="badge bg-success">{{ s.grade }}</span>

                                {% elif s.grade == "B1" or s.grade == "B2" %}

                                <span class="badge bg-primary">{{ s.grade }}</span>

                                {% elif s.grade == "C1" or s.grade == "C2" %}

                                <span class="badge bg-info text-dark">{{ s.grade }}</span>

                                {% elif s.grade == "D" %}

                                <span class="badge bg-warning text-dark">{{ s.grade }}</span>

                                {% else %}

                                <span class="badge bg-danger">{{ s.grade }}</span>

                                {% endif %}

                            </td>

                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

{% endblock %}
