{% extends "base.html" %}

{% block title %}
EduTrack
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="text-center">

        <h1 class="display-4 fw-bold">

            Student Performance Tracker

        </h1>

        <p class="lead text-muted">

            Monitor, Analyze and Manage Student Performance Efficiently

        </p>

    </div>

</div>
<div class="container mt-5">

<div class="row g-4">

<div class="col-md-3">

<div class="card text-center shadow border-0">

<div class="card-body">

<h1>👨‍🎓</h1>

<h5>Total Students</h5>

<h2>{{ total_students }}</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card text-center shadow border-0">

<div class="card-body">

<h1>📈</h1>

<h5>Class Average</h5>

<h2>{{ class_average }}</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card text-center shadow border-0">

<div class="card-body">

<h1>🏆</h1>

<h5>Highest Average</h5>

<h2>{{ highest }}</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card text-center shadow border-0">

<div class="card-body">

<h1>📚</h1>

<h5>Subjects</h5>

<h2>{{ subjects }}</h2>

</div>

</div>

</div>

</div>

</div>

<!-- Student Table -->

<div class="container mt-5">

    <div class="card shadow border-0">

        <div class="card-header bg-primary text-white">

            <h4 class="mb-0">
                📋 Student Records
            </h4>

        </div>

        <div class="card-body">

            <div class="table-responsive">

                <table class="table table-hover table-bordered align-middle">

                    <thead class="table-dark">

                        <tr>

                            <th>Roll No.</th>
                            <th>Name</th>
                            <th>Math</th>
                            <th>Science</th>
                            <th>English</th>
                            <th>Average</th>
                            <th>Grade</th>

                        </tr>

                    </thead>

                    <tbody>

                        {% for s in students %}

                        <tr>
                        <td>{{ s.roll }}</td>

                        <td>{{ s.name }}</td>

                        <td>{{ s.math if s.math != None else "-" }}</td>

                        <td>{{ s.science if s.science != None else "-" }}</td>

                        <td>{{ s.english if s.english != None else "-" }}</td>
                            
                        <td>{{ s.average }}</td>

                        <td>

{% if s.grade == "A+" %}

<span class="badge bg-success">{{ s.grade }}</span>

{% elif s.grade == "A" %}

<span class="badge bg-primary">{{ s.grade }}</span>

{% elif s.grade == "B" %}

<span class="badge bg-info text-dark">{{ s.grade }}</span>

{% elif s.grade == "C" %}

<span class="badge bg-warning text-dark">{{ s.grade }}</span>

{% else %}

<span class="badge bg-danger">{{ s.grade }}</span>

{% endif %}

</td>

                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

{% endblock %}
